@import url('https://fonts.googleapis.com/css?family=Lobster');
    
html, body {
  --standard-padding: 15px;
  --standard-height: 91vh;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: var(--standard-padding);
  }
  .row.content {height: auto;} 
}

#text-title {
  font-family: 'Lobster', cursive;
  font-size: 5vh;
}

/* Set blue ish background color for the title */
#title {
  background-color: #5497A7;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  z-index: 3;
  position: relative;
}

#settings {
  color: #FFFFFF;
  background-color: #5497A7;
  border: 0px;
}

.dropdown-menu {
  width: 20vw;
  height: 50vh;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: var(--standard-height);
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  z-index: 0;
  position: relative;
}

#add-contact {
  color: gray;
}

#contact-list {
  height: 70vh;
}

#search-box{
  vertical-align: bottom;
  float: none;
}

.alert {
  border-radius: 15px;
}

#messages-box {
  padding-top: var(--standard-padding);
  height: 70vh;
  overflow-y:scroll;
}

#received-message {
  background-color: #C5E7EA;
  color: #50858B;
}

#sent-message {
  background-color: #D3EADE;
  color: #326B5D;
}

#signature {
  margin: -9px;
}

hr {
  margin-top: 0px;
}

#input-box {
  height: 20vw;
}