@import url('https://fonts.googleapis.com/css?family=Lobster');
    
html, body {
  --standard-padding: 15px;
  --standard-height: 91vh;
}

#text-title {
  font-family: 'Lobster', cursive;
  font-size: 5vh;
}

/* Set blue ish background color for the title */
#title {
  background-color: #5497A7;
  color: #FFFFFF;
}

#settings {
  color: #FFFFFF;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: var(--standard-height);
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.alert {
  border-radius: 15px;
}

#messages-box {
  padding-top: var(--standard-padding);
  height: 70vh;
  overflow-y:scroll;
}

#received-message {
  background-color: #C5E7EA;
  color: #50858B;
}

#sent-message {
  background-color: #D3EADE;
  color: #326B5D;
}

#signature {
  margin: -9px;
}

hr {
  margin-top: 0px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: var(--standard-padding);
  }
  .row.content {height: auto;} 
}